@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #f9fafb;
  background-repeat: no-repeat;
  font-family: "Be Vietnam Pro";
}

.mg-24rem {
  margin-top: -24rem;
}
.ads-banner {
  width: 67.666667%;
}

.marquee-tag {
  width: 53.6rem;
}

@media (max-width: 1536px) {
  .ads-banner {
    width: 76.666667%;
  }
}
