@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #f9fafb;
  background-repeat: no-repeat;
  font-family: "Be Vietnam Pro";
}

.mg-24rem {
  margin-top: -24rem;
}
 .story {
  width: 79rem;
  max-width: 79rem;
}

.marquee-tag {
}


